{% extends "base.html" %}

{% load static %}

{% block content %}

{% if request.user.is_staff %}
<!--Only site owner can create new posts-->
<div id="new">
    <h4><a href="/blog/edit">New Post</a></h4>
</div>
{% endif %}

<div class="col-md-6" id="gallery">
    {% for p in posts %}
        <div class="card mb-4" id="post{{ p.id }}">
            <div class="card-body">
                <h3>
                    <a href="/blog/view/{{ p.slug }}">{{ p.title }}</a>
                </h3>
                <p class="mb-1 text-muted">{{ p.pub_date|date:"M d, Y" }}</p>
                <p class="card-text">{{ p.preview }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
