{% extends "base.html" %}

{% load static %}

{% block content %}

{% if request.user.is_staff %}
<!--Only site owner can create new posts-->
<div id="new">
    <a class="mb-3 btn btn-info" href="/blog/edit">New Post</a>
</div>
{% endif %}

<div>
    {% for p in posts %}
        <div class="card border-dark mb-4" id="post{{ p.id }}">
            <div class="row card-body text-dark">
                <div class="col-md-7">
                    <h3 class="card-title">{{ p.title }}</h3>
                    <p class="mb-1 text-muted">{{ p.pub_date|date:"M d, Y" }}</p>
                    <p class="card-text">{{ p.preview }}</p>
                    <a class="col-md-6 mb-3 btn btn-info" role="button" href="/blog/view/{{ p.slug }}">Continue reading</a>
                </div>
                <img class="col-md-5" src="{{ p.thumbnail.url }}" style="height: 200px;">
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}
