{% extends "base.html" %}

{% load static %}

{% block content %}

<dl class="row">
    <dt class="col-sm-3">
        <a href="https://github.com/StateFromJakeFarm/research">Urban Sound Detection</a>
    </dt>
    <dd class="col-sm-9">Description...</dd>
    <dt class="col-sm-3">
        <a href="https://github.com/StateFromJakeFarm/acm_website">CSUC ACM Automatic Judge</a>
    </dt>
    <dd class="col-sm-9">Description...</dd>
    <dt class="col-sm-3">
        <a href="https://github.com/StateFromJakeFarm/ocr">Toy OCR</a>
    </dt>
    <dd class="col-sm-9">Description...</dd>
</dl>

{% endblock content %}
