{% extends "base.html" %}

{% load static %}

{% block content %}

<h1 class="text-center mb-3" style="font-size: 40px">Some Projects</h1>
<div style="font-size: 18px">
    <dl class="row">
        <dt class="col-sm-3">
            <a href="https://github.com/StateFromJakeFarm/research">Urban Sound Detection</a>
        </dt>
        <dd class="col-sm-9">Classifying common urban sounds using an ensemble of recurrent neural networks.  Tested using data from a preexisting dataset as well as data scraped from various free online sound databases. (undergraduate senior project)</dd>
        <dt class="col-sm-3">
            <a href="https://github.com/StateFromJakeFarm/acm_website">CSUC ACM Automatic Judge</a>
        </dt>
        <dd class="col-sm-9">A site created for the CSU Chico ACM chapter to more easily host its own local programming competitions without having to repeatedly configure the PC<sup>2</sup> system.</dd>
        <dt class="col-sm-3">
            <a href="https://github.com/StateFromJakeFarm/ocr">OCR</a>
        </dt>
        <dd class="col-sm-9">A toy program to easily create, train, and test non-convolutional, feed-forward neural networks to perform optical character recognition (OCR).</dd>
    </dl>
</div>

{% endblock content %}
